<ion-header>
  <ion-toolbar>
    <ion-title>Information Station</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        To login, simply enter your given username. <br>
        You will be presented with a list of your teachers in order of how busy they are. <br>
        To queue for a teacher, just tap the 'queue' button. <br>
        To reload the list, swipe up when at the top of the page. <br>
        To navigate back a page, use the in built back arrow on Android, and the upper left arrow on iOS.
    </ion-card-content>
  </ion-card>
</ion-content>
